@import "tailwindcss";

/* Works for modern browsers */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

html {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-baloo2);
}
